In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import glob
import os
from tensorflow.keras.utils import to_categorical
from sklearn import preprocessing

In [2]:
path = r'D:\RiceBootCamp\Homework\Oct 22\Project3\Data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []
brands = ["Audi","BMW","Ford","Hyundi","Mercedes Benz","Skoda","Toyota","Volkswagen"]

for filename, brand in zip(all_files, brands):
    frame = pd.read_csv(filename, index_col=None, header=0)
    frame["make"] = brand
    li.append(frame)
    
df = pd.concat(li, axis=0, ignore_index=True)
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...
85550,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0,Volkswagen
85551,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2,Volkswagen
85552,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4,Volkswagen
85553,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2,Volkswagen
85554,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2,Volkswagen

In [3]:
mms = preprocessing.MinMaxScaler()
df[['mileage', 'tax', 'mpg', 'engineSize']] = mms.fit_transform(df[['mileage', 'tax', 'mpg', 'engineSize']])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85555 entries, 0 to 85554
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         85555 non-null  object
 1   year          85555 non-null  int64
 2   price         85555 non-null  int64
 3   transmission  85555 non-null  object
 4   mileage       85555 non-null  float64
 5   fuelType      85555 non-null  object
 6   tax           85555 non-null  float64
 7   mpg           85555 non-null  float64
 8   engineSize    85555 non-null  float64
 9   make          85555 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 6.5+ MB

In [5]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,A1,2017,12500,Manual,0.048712,Petrol,0.258621,0.117109,0.212121,Audi
1,A6,2016,16500,Automatic,0.112081,Diesel,0.034483,0.135813,0.303030,Audi
2,A1,2016,11000,Manual,0.092709,Petrol,0.051724,0.117109,0.212121,Audi
3,A4,2017,16800,Automatic,0.080344,Diesel,0.250000,0.142402,0.303030,Audi
4,A3,2019,17300,Manual,0.006183,Petrol,0.250000,0.104782,0.151515,Audi

In [6]:

le = preprocessing.LabelEncoder()
for column_name in df.columns:
    if(df[column_name].dtype == object):
        df[column_name] = le.fit_transform(df[column_name])
        # Step 2: Convert encoded labels to one-hot-encoding
        df[column_name] = to_categorical(df[column_name])

    else:
        pass

In [7]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,0.0,2017,12500,0.0,0.048712,0.0,0.258621,0.117109,0.212121,1.0
1,0.0,2016,16500,1.0,0.112081,1.0,0.034483,0.135813,0.303030,1.0
2,0.0,2016,11000,0.0,0.092709,0.0,0.051724,0.117109,0.212121,1.0
3,0.0,2017,16800,1.0,0.080344,1.0,0.250000,0.142402,0.303030,1.0
4,0.0,2019,17300,0.0,0.006183,0.0,0.250000,0.104782,0.151515,1.0

In [8]:
# Assign X (data) and y (target)
X = df.drop("price", axis=1)
y = df["price"]
print(X.shape, y.shape)

(85555, 9) (85555,)

In [9]:
feature_names = X.columns

In [10]:
df.isnull().sum(axis=0)

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
make            0
dtype: int64

In [11]:
# Split the data into training and testing

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
### END SOLUTION

In [12]:
del df,le

In [13]:
del X,y

In [14]:
X_train.shape

(68444, 9)

In [15]:
X_train

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,make
11514,0.0,2018,0.0,0.046725,1.0,0.250000,0.124548,0.303030,0.0
11986,0.0,2019,0.0,0.016087,0.0,0.250000,0.080553,0.303030,0.0
80902,0.0,2017,0.0,0.038697,1.0,0.258621,0.104782,0.303030,0.0
9497,0.0,2019,0.0,0.005282,1.0,0.250000,0.104782,0.242424,1.0
80198,0.0,2017,1.0,0.065681,0.0,0.250000,0.106482,0.272727,0.0
...,...,...,...,...,...,...,...,...,...
6265,0.0,2019,0.0,0.007142,0.0,0.250000,0.072689,0.303030,1.0
54886,0.0,2020,1.0,0.000059,1.0,0.250000,0.121998,0.303030,0.0
76820,0.0,2019,0.0,0.019406,1.0,0.250000,0.121998,0.303030,0.0
860,0.0,2020,0.0,0.001718,0.0,0.250000,0.101169,0.151515,1.0
15795,0.0,2020,0.0,0.010926,1.0,0.250000,0.086291,0.303030,0.0

In [16]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=6, n_estimators=200)
regr = regr.fit(X_train, y_train)
regr.score(X_test, y_test)

0.8348685851147486

In [17]:
sorted(zip(regr.feature_importances_, feature_names), reverse=True)

[(0.523963751458679, 'engineSize'),
 (0.40775299662214576, 'year'),
 (0.03590479759810055, 'mpg'),
 (0.013628993283009502, 'mileage'),
 (0.011306620214146535, 'tax'),
 (0.004826569500688246, 'make'),
 (0.002473272192478386, 'fuelType'),
 (0.00012803454050477984, 'model'),
 (1.4964590247213901e-05, 'transmission')]

In [18]:
encoded_predictions = regr.predict(X_test[:5])

In [19]:
print(f"Predicted classes: {encoded_predictions}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: [14375.83065555 11032.07854208 20850.4861563  13125.82464569
 18798.25818421]
Actual Labels: [14644, 10095, 23025, 14299, 16995]